:root {
    background-color: #b1c4de;
    text-align: center;
  }

  .pageTitle {
    font-size: 40px;
  }

  .top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
  }

  #blog {
    background-color: lightgreen;
    margin:auto;
    min-height: 40px;
    min-width: 80px;
    position:relative;
    margin-bottom: 4%;
    display:block;
    margin-top: 2%;
    cursor: pointer;
  }

  .logout {
    background-color: red;
    margin:auto;
    align-self: center;
    min-height: 40px;
    min-width: 80px;
    margin-top: 3%;
    margin-bottom: 3%;
    cursor: pointer;
  }

  .cancelform {
    margin:auto;
    justify-self: auto;
    border: 1px solid black;
    background-color: snow;
    width: 80%;
    border-radius: 5%;
  }

  .nickname {
    margin:auto;
    margin-bottom:2%;
  }

  .formcancele {
    margin:auto;
    justify-self:auto;
    width: 80%;
  }

  #regist {
    background-color:#0076d2;
    display: block;
    height: 40px;
    width: 80px;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 2%;
    border-radius: 5%;
    cursor: pointer;
  }

  .loginIde, .loginMdpe {
    display:block;
    margin:auto;
    margin-top: 2%;
    justify-self: auto;
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .registerFNamee, .registerLNamee,
  .registerMaile, .registerPassworde {
    display:block;
    margin: auto;
    margin-bottom: 3%;
    width: -webkit-calc(100% - 10px);
    width: -moz-calc(100% - 10px);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .formlogine, .register {
    justify-content:center;
  }

  .partLogin, .partRegister {
    justify-content: center;
    border-style: solid black 1px;
    border-radius: 5%;
  }
  
h2 {
  margin-top: 3%;
}

  #contactTitle, #contractTitle,
  .createContact, .createContract {
    display : block;
  }
  
  .createContacte, .createContracte {
    margin-top: 2%;
    margin-bottom: 0.5%;
    min-height: 30px;
    min-width: 60px;
    background-color:#0076d2;
    position: relative;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 2%;
    cursor: pointer;
  }

  .SaveContacte, .SaveContracte {
    background-color:#0076d2;
    min-height: 30px;
    min-width: 60px;
    margin-bottom: 1%;
  }

  .partLogin, .partRegister {
    width: 40%;
    justify-content: center;
    border: 1px solid black;
    background-color: snow;
  }

  .divContact, .divContract, .divProduct {
    background-color: #fefeff;
    max-width: 90%;
    position: relative;
    left: 5%;
    padding-bottom: 1%;
    border-radius: 3%;
  }

  .titre {
    background-color: #f2f2f3;
    min-height: 75px;
    border-radius: 2%;
  }

  .contacts, .contracts {
      margin-left:auto;
      margin-right:auto;
      margin-top:2%;
  }

.ContractAccount, .StatusCtr,
.StartDate, .EndTerm, .ContactFName, .ContactLName,
.ContactMail, .ContactPhone, .ContactPassw {
  display: block;
  margin:auto;
  margin-bottom: 2%;
}

.logorant {
  margin-bottom: 3%;
}

.subtitle {
  background-color: white;
  width: fit-content;
  margin:auto;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 3%;
}

.pageTitle {
  background-color: white;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  width: fit-content;
  margin:auto;
}

.containsInput, .containsInpute {
  margin:auto;
}

.foot {
  margin-top: 40%;
}

.tableContact, .tableContract, .tableProduct, #tableForContact, .contactTable{
  margin:auto;
  border-collapse: collapse;
  margin-top: 1%;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}